<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="middleman">
    <meta name="viewport" content="width=512">
<%
  title = current_page.data.title || "hans.gerwitz.com"
  abstract = current_page.data.abstract || title
  tags = ['gerwitz', 'hans gerwitz']
  if current_page.data.tags
    tags += current_page.data.tags
  end
%>
    <title><%= title %></title>

    <!-- OpenID delegation -->
	<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
	<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

    <!-- favicon -->
	<link rel="icon" href="/assets/tree.png" type="image/x-icon">
	<link rel="shortcut icon" href="/assets/tree.png" type="image/x-icon">

	<!-- basic SEO -->
	<meta name="keywords" content="<%= tags.join(', ') %>">
  <meta name="description" content="<%= abstract %>">

	<!-- Google+ attribution for rich search snippets -->
	<link rel="author" href="https://plus.google.com/117303083576651952409">

	<!-- Twitter summary card -->
	<meta property="twitter:creator:id" content="521">
	<meta property="twitter:title" content="<%= title %>">
	<meta property="twitter:description" content="<%= abstract %>">

  <!-- Facebook OpenGraph -->
	<meta property="og:site_name" content="hans.gerwitz.com">
	<meta property="og:type" content="article">
	<meta property="og:url" content="<%= current_page.url %>">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= abstract %>">
	<meta property="og:image" content="/assets/tree.png">

  <!-- RSS feed -->
	<link rel="alternate" type="application/atom+xml" href="/feed/atom.xml" title="Writings of Hans Gerwitz">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <%= stylesheet_link_tag "normalize", "all" %>
  <%= javascript_include_tag  "all" %>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </head>

  <body class="<%= page_classes %>">

	<header id="masthead">
		<h1><%= nav_link '<i class="icon-home"></i> hans.gerwitz.com', '/' %></h1>
		<ul class="nav">
<!--
      <li>
        <%= nav_link(
					'<i class="icon-floppy-o"></i> Conservatory</a>',
					'/library/'
        ) %>
			</li>
      <li>
        <%= nav_link(
					'<i class="icon-flask"></i> Laboratory</a>',
					'/projects/'
        ) %>
			</li>
-->
			<li>
        <%= nav_link(
					'<i class="icon-user"></i> About',
					'/about/',
					{title: 'About Hans', rel: 'author'}
        ) %>
			</li>
			<li>
				<a href="https://twitter.com/intent/user?user_id=521"><i class="icon-twitter"></i> Twitter</a>
			</li>
		</ul>
	</header>

    <%= yield %>

	<footer>
        <form method="get" action="/search.html">
			<label for="search"><i class="icon-search"></i></label>
			<input id = "search" type="search" placeholder="search posts" name="query" />
		</form>
        <nav>
			<ul>
                <li>
                  <%= nav_link(
                        '<i class="icon-time"></i> Archives',
                        '/archive/',
                        title: 'All writings'
                  ) %>
				</li>
				<li>
                  <%= nav_link(
                        '<i class="icon-book"></i> Colophon',
                        '/site/',
                        title: 'About this site'
                  ) %>
				</li>
				<li>
					<a href="/feed/atom.xml" rel="alternate" type="application/atom+xml">
						<i class="icon-rss"></i> Feed
					</a>
				</li>
			</ul>
		</nav>
	</footer>

    <!-- header shadow-on-scroll -->
    <script type="text/javascript">
        var handleScroll = function () {
            var masthead = document.getElementById("masthead");
            if (masthead) {
                var offset = 0.0;
                var distance = masthead.offsetHeight;
                var scrollPosition = window.pageYOffset;
                if (scrollPosition < distance) {
                    offset = (distance - scrollPosition) / distance;
                }
                var opacity = 1.0 - (offset * 1.0);
                masthead.style["boxShadow"] = "0px 6px 6px -6px rgba(50, 50, 50, " + opacity + ")";
            }
        }
        if (window.addEventListener) {
            window.addEventListener("scroll", handleScroll);
            window.addEventListener("touchmove", handleScroll);
        }
    </script>

    <!-- Google Analytics (async) -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-271475-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
