<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="middleman">
    <meta name="viewport" content="width=device-width">
<%
  title = current_page.data.title || "&#11820; Hans Gerwitz"
  abstract = current_page.data.abstract || title
  tags = ['gerwitz', 'hans gerwitz']
  if current_page.data.tags && current_page.data.tags.kind_of?(Array)
    tags += current_page.data.tags
  end
%>
    <title><%= title %></title>

    <!-- favicon -->
    <link rel="icon" href="/assets/tree.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/tree.png" type="image/x-icon">

    <!-- webmentions -->
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />

    <!-- basics -->
    <meta name="keywords" content="<%= tags.join(', ') %>">
    <meta name="description" content="<%= abstract %>">

    <!-- Google+ attribution for rich search snippets -->
    <link rel="author" href="https://plus.google.com/117303083576651952409">

    <!-- Twitter summary card -->
    <meta property="twitter:creator:id" content="521">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="<%= abstract %>">

    <!-- Facebook OpenGraph -->
    <meta property="og:site_name" content="hans.gerwitz.com">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= current_page.url %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= abstract %>">
    <meta property="og:image" content="/assets/tree.png">

    <!-- RSS feeds -->
    <link rel="alternate" type="application/rss+xml" href="/feed/microblog.rss" title="Notes from Hans Gerwitz">
    <link rel="alternate" type="application/rss+xml" href="/feed/writing.rss" title="Writings of Hans Gerwitz">

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "lunr", "lunr.stemmer.support" %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <% if current_page.data.noindex == true %>
    <meta name="robots" content="noindex">
    <% end %>
    <% if current_page.data.external.present? %>
    <link rel="canonical" href="<%= current_page.data.external %>" />
    <% else # http://www.thesempost.com/using-rel-canonical-on-all-pages-for-duplicate-content-protection/ %>
    <link rel="canonical" href="<%= current_page.url %>" />
    <% end %>
    <meta http-equiv="last-modifed" content="<%= File.mtime(current_page.source_file).iso8601 %>">
    <%= yield_content :head_content %>
  </head>

  <body class="<%= page_classes %>">

  <header class="site">
    <div id="dickbar">
      <h1><%= nav_link '⸬ Hans Gerwitz', '/' %></h1>
    </div>
    <div class="nav">
      <ul>
        <li>
          <%= nav_link(
            '/about',
            '/about/'
          ) %>
        </li>
        <li>
          <%= nav_link(
            '/writing',
            '/writing/'
          ) %>
        </li>
        <li>
          <%= nav_link(
            '/notes',
            '/notes/'
          ) %>
        </li>
        <li>
          <%= nav_link(
            '/library',
            '/library/'
          ) %>
        </li>
      </ul>
    </div>
  </header>

  <%= yield %>

  <footer>
    <form method="get" action="/search.html" class="search">
      <input id="search" type="search" autosave="site-search" placeholder="search" name="query" />
    </form>
    <nav>
      <ul>
<!--
                <li>
                  <%= nav_link(
                        'Archives',
                        '/writing/',
                        title: 'All writings'
                  ) %>
        </li>
-->
        <li>
                  <%= nav_link(
                        'Site',
                        '/site/',
                        title: 'About this site'
                  ) %>
        </li>
        <li>
          <a href="/feed/atom.xml" rel="alternate" type="application/atom+xml">
            Feed
          </a>
        </li>
        <li>
          &#11820;
        </li>
      </ul>
    </nav>
  </footer>

    <!-- Google Analytics (async) -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-271475-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
