<% wrap_layout :site do %>
  <h1><%= current_page.data.title %></h1>
  <% if current_page.data.abstract %>
    <!-- <%= current_page.data.abstract %> -->
  <% end %>
  <% if current_page.data.categories %>
    <!-- categories: <%= current_page.data.categories.join(', ') %> -->
  <% end %>
  <% if current_page.data.tags %>
    <!-- tags: <%= current_page.data.tags.join(', ') %> -->
  <% end %>
  <%
    if current_page.data.external.present?
      host = URI.parse(current_page.data.external).host.downcase
      host = host.start_with?('www.') ? host[4..-1] : host
  %>
    <img src="https://plus.google.com/_/favicon?domain=<%= host %>" height="12" width="12" class="favicon" />
    Published at <%= link_to host, current_page.data.external %>.
    <div class="republished">
  <% else %>
    <div>
  <% end %>
      <%= yield %>
  </div>

<% end %>
