---
pageable: false
blog: writing
---
<% wrap_layout :site do %>
  <h1>
    <%
      case page_type
        when 'day'
    %>
      <%= link_to Date.new(year, month, day).strftime('%B'), blog_month_path(year, month) %>
      <%= Date.new(year, month, day).strftime('%e') %>,
      <%= link_to Date.new(year, month, day).strftime('%Y'), blog_year_path(year) %>
    <%
        when 'month'
    %>
      <%= Date.new(year, month, 1).strftime('%B') %>,
      <%= link_to Date.new(year, month, 1).strftime('%Y'), blog_year_path(year) %>
    <%
        when 'year'
    %>
      <%= Date.new(year, 1, 1).strftime('%Y') %>
    <%
      end
    %>
  </h1>

  <ol class="article-list">
    <% page_articles.select{|a| !a.data.title.nil? }.each_with_index do |article, i| %>
      <li><% link_to article do %>
        <span class="title"><%= article.title %></span>
        <span class="date"><%= article.date.strftime('%B %e') %></span>
      <% end %>
       </li>
    <% end %>
  </ol>
<% end %>
