<!DOCTYPE HTML>
<html lang="en" class="project">
<head>
	<meta charset="utf-8" />
	<title><%= @item[:title] %></title>
    <meta name="generator" content="nanoc" />

	<link rel="alternate" type="application/rss+xml" href="/feed" title="Posts to <%= @site.config[:site_name] %>" />

	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/stylesheet.css" media="screen" />
	
	<!-- favicon -->
	<link rel="icon" href="/assets/tree.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/tree.png" type="image/x-icon" />

	<!-- basic SEO -->
	<meta name="keywords" content="gerwitz, hans gerwitz, <%= @item[:tags] %>" />
	<meta name="description" content="<%= @item[:abstract] %>" />
	
	<!-- Google+ attribution for rich search snippets -->
	<link rel="author" href="https://plus.google.com/117303083576651952409" />
	
	
	<!-- Twitter summary card -->
	<meta property="twitter:creator:id" content="521" />
	<meta property="twitter:title" content="<%= @item[:title] %>" />
	<meta property="twitter:description" content="<%= @item[:abstract] %>" />

	<!-- Facebook OpenGraph -->
	<meta property="og:site_name" property="<%= @site.config[:site_name] %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%= @site.config[:base_url] + item.path %>" />
	<meta property="og:title" content="<%= @item[:title] %>" />
	<meta property="og:description" content="<%= @item[:abstract] %>" />
	<meta property="og:image" content="<%= @site.config[:base_url] + 'assets/tree.png' %>" />

	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
	
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body class="<%= @item[:kind] %>">
	<div id="masthead-wrapper">
		<header id="masthead">
			<i class="icon-beaker"></i>
<!--			<h1><%= link_to(@site.config[:site_name], '/') %></h1>
-->	
			<%= breadcrumbs_trail.map{ |crumb| link_to_unless_current(crumb[:title], crumb.reps.find { |r| r.name == :default }) }.join(' / ') %>

			<!--
			/
			<span><%= @item[:title] %></span>
				-->
		</header>
	</div>
	
	<div id="content">
		<%= yield %>
	</div>
	
<!-- Google Analytics (async) -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-271475-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
