	<section class="year">
		<div class="entry-content">
			<%= yield %>
		</div>

		<ol>
			<% @item[:months_by_year].each do |year, months| %>	
			<li>
				<%= year %> (<%= months.map{|month, posts| posts.count}.reduce(:+) %>)
				<ol>
					<% months.each do |month, posts| %>
					<li>
						<%= month %>: <%= posts.count %>
					</li>
					<% end %>
				</ol>
			</li>
		<% end %>
		</ol>
	</section>
